*{
  box-sizing: border-box;
}

h1{
  text-align: right;
  margin-left: auto;
  font-size: 40px;
}

.para{
  text-align: right;
  margin-left: auto;
  border-top: 3px solid rgba(0, 0, 0, 0.274);
  width: 350px;
  font-size: 20px;
  padding-top: 20px;
}

p{
  width: 350px;
  text-align: right;
  margin: 0px 0px 0px auto;
  font-size: 20px;
}

.secondPara{
  margin-top: 20px;
}